body{
    width: 1200px;
    height: 900px;
}

.contenedor{
    width: 100%;
    height: 100%;
    background-color: blue;
}

.encabezado{
    width: 100%;
    height: 20%;
    background-color: pink;
}

.seccion{
    width: 100%;
    height: 60%;
    background-color: brown;
}

.pie{
    width: 100%;
    height: 20%;
    background-color: aqua;
}